.fieldset {
    border: 1px solid rgb(255, 0, 0);
}

.button_wrapper {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 4px;
    height: 30px;
    border:1px solid white;
    transition-duration: 0.1s;
    background-color: transparent;
}

.button_hover:hover {
    background-color: rgb(25, 137, 138);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.box {
    border: 2px solid blue; 
}

.hide {
    display:none
}

.white_text * {
    color: white;
    fill: white;
}
